.grid {
  //background-image   : url('../../../assets/sean-pollock-PhYq704ffdA-unsplash.jpg') !important;
  //background-color: #006414;
  background-size    : cover;
  background-position: center;
  background-repeat  : no-repeat;
  height             : 100vmin;
}

.logo {
  margin-left : 90px;
  margin-right: 90px;
  width       : 205.27px;
  height      : 51.69;
}

.header-text {
  font-size: 20px;
}

.header-text-sub {
  font-size: 18px;
}



// .texto-login {}

input {
  width: 100%;

}

.green-button {
  width        : 100%;
  background   : #1B3D61;
  color        : white;
  border       : none;
  padding      : 10px 20px;
  border-radius: 5px;
  cursor       : pointer;
}

.green-button:hover {
  background: #1b3d61d3;
}
