.grid {
  //background-image   : url('../../../assets/sean-pollock-PhYq704ffdA-unsplash.jpg') !important;
  background-color: #006414;
  background-size    : cover;
  background-position: center;
  background-repeat  : no-repeat;
  height             : 100vmin;
}

.heder-text,
.header-text-sub,
.texto-login {
  color: #006414;
}

.header-text {
  font-size: 20px;
}

.header-text-sub {
  font-size: 18px;
}

// .texto-login {}

input {
  width: 100%;

}
.green-button {
  width: 100%;
  background-color: #006414;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.green-button:hover {
  background-color:#006414;
}
