<div class="grid">
  <div class="col-12">
    <div class="flex justify-content-center align-content-center text-align-center">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
        <p-card class="transparent-card" styleClass="mt-10"*ngIf="loginCard">
          <div>logo</div>
          <div class="header-text mb-3">Bem-Vindo</div>
          <p class="header-text-sub">Insira suas credenciais para entrar no sistema</p>
          <div class="form-group">
            <p class="texto-login">E-mail</p>
            <input type="email" pInputText placeholder="Email" formControlName="email" class="full-width" />
          </div>
          <div class="form-group mt-3">
            <p class="texto-login">Senha</p>
            <input type="password" pInputText placeholder="Senha" formControlName="password" class="full-width" />
          </div>
          <div class="card flex justify-content-center mt-3">
            <button type="submit" pButton pRipple label="Login" [disabled]="!this.loginForm.valid" class="green-button">
            </button>
        </div>
          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold cursor-pointer"
            (click)="loginCard = !loginCard">Criar
            conta
          </span>
        </p-card>
      </form>

      <!-- criar conta -->
      <form [formGroup]="cadastroForm" (ngSubmit)="onSubmitCadastroForm()">
        <p-card styleClass="mt-10" header="Criar Conta" subheader="Crie já sua conta gratuíta!" *ngIf="!loginCard">
          <div class="flex justify-content-center align-content-center text-align-center">
            <input type="text" pInputText placeholder="Nome" formControlName="name" />
          </div>
          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="email" pInputText placeholder="Email" formControlName="email" />
          </div>
          <div class="flex justify-content-center align-content-center text-align-center mt-3">
            <input type="password" pInputText placeholder="Senha" formControlName="password">
          </div>
          <div class="card flex justify-content-center mt-3">
            <button type="submit" pButton pRipple label="Criar Conta" [disabled]="!this.cadastroForm.valid">
            </button>
          </div>
          <span
            class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold cursor-pointer"
            (click)="loginCard = !loginCard">Fazer login
          </span>
        </p-card>
      </form>

    </div>
  </div>
</div>
