.content {
  padding: 24px;
}

mat-toolbar {
  position: relative;
  z-index: 5;
}

mat-sidenav {
  background: #006414;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-nav-list {
  padding: 0;
  /* background: #006414; */
  height: 85vh;
  padding-top: 32px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-buttons,
.right-buttons {
  display: flex;
}

.right-buttons {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-buttons,
.right-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin: 0;
}

.text_version,
.text_email {
  margin: 0;
  font-size: 1rem;
  color: #5d5e5d;
}

.text_user {
  color: #006414;
  font-weight: bold;
  font-size: 1rem;
}

.logo-image {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.logo-img {
  width: 58px;
  height: 48px;
}

.logo-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-text-color {
  color: #ffffff;
  margin-left: 5px;
}

.mat-icon-imagem {
  color: #ffffff;
}
