<header>
  <div class="header-content">
    <button class="menu-toggle" (click)="toggleSidebar()">
      <img src="caminho/para/icone-menu.svg" alt="Menu">
    </button>
    <div class="logo">
      <img src="../../../assets/LOGO-LCD-FINAL.webp" alt="Logo">
    </div>
    <div *ngIf="!isHomeRoute()" class="back-icon" (click)="voltar()">
      <img src="../../../../assets/1486348819-back-backwards-repeat-arrows-arrow-blue_80473.svg" alt="icone-de-voltar">
      Voltar
    </div>
  </div>
</header>
